#1Q.

What are the two values of the Boolean data type? How do you write them?

#ANSWER:

The two values of the Boolean data types are True and False.
we write them as capital 'T' in True and rest of words in small leters and simillarly False also writtten in same way.

In [1]:
x = True 
y = False

In [5]:
print(type(x))
print(type(y))

<class 'bool'>
<class 'bool'>

#2Q. 

What are the three different types of Boolean operators?

#ANSWER:

The Three differnt types of boolean operators are AND, OR, and NOT.

In [12]:
a = 20
b = 30

if a == 20 and b == 40:  # In this case both should be true then only if statement will print.
  print(f'a = {a}, b = {b}') 
else:
  print('a and b are not equal')

a and b are not equal

In [13]:
a = 20
b = 30

if a == 20 or b == 40: # In this case if one condistion is True it will print if statement.
  print(f'a = {a}, b = {b}')
else:
  print('a and b are not equal')

a = 20, b = 30

In [15]:
a = 20
b = 30

if a == 20 is not b == 40:  # is not will check the both id's and statement of a given or assinged values or statement.
  print(f'a = {a}, b = {b}')
else:
  print('a and b are not equal')

a and b are not equal

#3Q. 

Make a list of each Boolean operator&#39;s truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

#ANSWER:

True and True is equal to True

True and Flase is equal to False

False and True is equal to False

False and False is equal to False

---

True or False is equal to True

True or True is equal to True

False or True is equal to True

False or False is equal to False

---

not True is equal to False

not False is equal to True

---

#4Q. 

What are the values of the following expressions?

(5 &gt; 4) and (3 == 5)

not (5 &gt; 4)

(5 &gt; 4) or (3 == 5)

not ((5 &gt; 4) or (3 == 5))

(True and True) and (True == False)

(not False) or (not True)

#ANSWER:

In [23]:
(5 > 4) and (3 == 5)

False

In [18]:
not(5>4)

False

In [19]:
(5 > 4) or (3 == 5)

True

In [20]:
not ((5 > 4) or (3 == 5))

False

In [21]:
(True and True) and (True == False)

False

In [22]:
(not False) or (not True)

True

#5Q. 
What are the six comparison operators?

#ANSWER:

The six comparion operators are 

1.==, 2.!=, 3.<, 4.>, 5.<= and 6.>=

#6Q. 
How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

#ANSWER:

The difference between equal to and assignment operators:

The equal to(==) operator will check both statements or value are equal or not then it give result in True or False (boolean type).

equal(=) is an assingment operator it assign value to variable

In [26]:
a = 10   # equal to operator
b = 20

print(a==b)

False

In [25]:
a = 10 # assingment equal operator
a

10

#7Q. 
Identify the three blocks in this code:

spam = 0

if spam == 10:

print(&#39;eggs&#39;)

if spam &gt; 5:

print(&#39;bacon&#39;)

else:

print(&#39;ham&#39;)

print(&#39;spam&#39;)

print(&#39;spam&#39;)

#ANSWER:

In [28]:
spam = 0
if spam == 10:
  print('eggs')
elif spam > 5:
  print('bacon')
else:
  print('ham')
  print('spam')
  print('spam')

ham
spam
spam

#8Q. 
Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

#ANSWER

In [29]:
spam = 1
if spam == 1:
  print('Hello')
elif spam == 2:
  print('howdy')
else:
  print('Greetings!')

Hello

#9Q.
If your programme is stuck in an endless loop, what keys youâ€™ll press?

#ANSWER:

When a programme got stucked in an endless loop, then we should press "CTRL+C"

#10Q. 
How can you tell the difference between break and continue?

#ANSWER:

The main difference between both the statements is that when break keyword comes, it terminates the execution of the current loop and passes the control over the next loop or main body, whereas when continue keyword is, it skips the current iteration and executes the very next iteration in the loop.

#11Q. 
In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

#ANSWER:
All they do are same thing. The range(10) will print 10 values they are from 0 to 9. The range(0,10) it also print 10 values from 0 to 9, But here we decide that the range should start from 0. The rane(0, 10, 1) this also print 10 values form 0 to 9, But while printing it will tell the loop to increase by 1 on each iteration.

In [35]:
a = range(10) 
for i in a: 
    print (i)

0
1
2
3
4
5
6
7
8
9

In [36]:
a = range(0, 10) 
for i in a: 
    print (i)

0
1
2
3
4
5
6
7
8
9

In [38]:
a = range(0, 10, 1) 
for i in a: 
    print (i)

0
1
2
3
4
5
6
7
8
9

#12Q. 
Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

#ANSWER:

In [39]:
for i in range(1,10):
 print(i)

1
2
3
4
5
6
7
8
9

In [45]:
i = 1
while i <= 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

#13Q. 
If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

#ANSWER:

If I have a function named bacon() inside a module named spam, I will call function with spam.bacon()