Q 1.

In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators. *,hello&#39;-87.8,-,/,+,6
----------------

Answer 1 :
--------
'hello',-87.8 and 6 are the values

and

*,-,/,+ this are the expression

Q 2. 

What is the difference between string and variable?
------------

Answer:
------
String:

it is a group of characters and characters are written in between double(" ") or single(' ') qutoes

Example: name = "Nikhil" 

Now Nikhil is a string value

variable:

variable allways starts with alphabets and it should not contain any special characters like " !@#$%^&*() "

The certain vlaues which assigning to certain object like a,b,name or x (variables)

Example: x = 9

npw x is a variable

In [4]:
name = "Nikhil"
x =9
print(name, x)
print(type(name))

Nikhil 9
<class 'str'>

Q3.

Describe three different data types.
------------

Answer:
----

The three different data types Are:

1.string, 2.integer, 3.boolean

1.string:

which we are given in between single and double qutoes are called string

Example: x = "Nikhil"

---
2.integers:

the only numbers 0 to infinity are the the integers and if it contain decimal points it comes under float data type

Example:

x = 29,

y = 0.5

---
3.Boolean:

boolean  it is a type which gives  True or False

Example : one = True

In [8]:
x = "Nikhil"
print(type(x))

<class 'str'>

In [7]:
x = 29
print(type(x))
y = 0.5
print(type(y))

<class 'int'>
<class 'float'>

In [9]:
one = True
print(type(one))

<class 'bool'>

Q4. 

What is an expression made up of? What do all expressions do?
-----------

Answer:

An Experession is made up of operators,operands and values


All the Expression will represents the values

For example string is also an Expression which returns the 'string value'

# Q5.
This assignment statements, like spam = 10. What is the difference between and expression and a statement?
--------------------

# Answer:
A statement is a action. 
For Example print is statement which performs the certain action for some given statement

An Experessions are operators,operands and values

All the Expression will represents the values


This assignment statements, like spam = 10. 

spam is variable and = is a operand and 10 is assigned integer value

now when we print the value of spam. that used print is a statement which give the spam value is 10

In [10]:
spam = 10
print(spam)

10

#Q6. After running the following code, what does the variable bacon contain?
#bacon = 22
#bacon + 1

#Answer

In [11]:
bacon = 22
bacon

22

In [14]:
bacon + 1
# after running the bacon = 22 and bacon + 1 we get an output as 23

23

#Q7. What should the values of the following two terms be?
#'spam' + 'spamspam'
#'spam' * 3

#Answer

In [16]:
'spam' + 'spamspam'

'spamspamspam'

In [17]:
'spam' * 3

'spamspamspam'

#8. Why is eggs a valid variable name while 100 is invalid?

# Answer

The eggs is valid variable name while 100 is invalid because variable allways starts with alphabets and it should not contain any Numeric value at starting and special characters like " !@#$%^&*() "

In [19]:
eggs = 100
eggs

100

In [20]:
100 = eggs

SyntaxError: ignored

#Q9. What three functions can be used to get the integer, floating-point number, or string version of a value?

#Answer

int() for integer,

float() for floating-point number,

str() for string 

this three functions can be used to get the integer, floating-point number, or string version of a value

#10. Why does this expression cause an error? How can you fix it?
#'I have eaten'  + 99 +  'burritos'

#Answer:

This expression causes an error because we can not add a string value to integer.

I can fix it by converting the integer value into string value

In [21]:
'I have eaten' + 99 + 'burritos'

TypeError: ignored

In [23]:
'I have eaten' + ' 99 ' + 'burritos'

'I have eaten 99 burritos'